@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --gradient-from: #FF4D00;
    --gradient-to: #4d9f0c;
  }
  body {
    @apply text-primary bg-primary;
  }
  .gradient-border {
    --border-width: 1px;
    --bt: var(--border-top, var(--border-width));
    --bb: var(--border-bottom, var(--border-width));
    --bl: var(--border-left, var(--border-width));
    --br: var(--border-right, var(--border-width));
    --background: #11151B;
    @apply bg-[linear-gradient(0.25turn,var(--background),var(--background)),linear-gradient(0.25turn,var(--gradient-from),var(--gradient-to))];
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: solid transparent;
    border-left-width: var(--bl);
    border-right-width: var(--br);
    border-top-width: var(--bt);
    border-bottom-width: var(--bb);
  }
  .gradient-text {
    @apply bg-[linear-gradient(0.25turn,var(--gradient-from),var(--gradient-to))];
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-background {
    --bg-opacity: 1;
    --bg-from: rgb(255 77 0 / var(--bg-opacity));
    --bg-to: rgb(255 184 0 / var(--bg-opacity));
    @apply bg-[linear-gradient(0.25turn,var(--bg-from),var(--bg-to))];
  }
  .scrollbar::-webkit-scrollbar {
    @apply w-4;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply border-[5px] border-solid border-secondary bg-tertiary rounded-lg;
  }
}